@model  RiskAssessment.Models.RiskLevelModel


<h2>AssessmentResult</h2>
@ViewBag.AssessmentType
@ViewBag.RiskScore
@ViewBag.RiskLevel
@ViewBag.AssessmentNo


<div>
    @using (Html.BeginForm("ActionPlan", "Home", FormMethod.Post))
    {

        <input type="hidden" name="SessionID" value="@(Session["SessionID"])" />
        <button type="Submit" class="btn btn-primary">Proceed</button>

    }

</div>


<div>
    @for (int i = 0; i < Model.RiskList.Count; i++)
    {

        <span style="color: red">@Html.Raw(Model.RiskList[i].RiskName)"</span>
        <br />
        <br />
        <span style="color: blue">@Html.Raw(Model.RiskList[i].RiskStatement)"</span>
        <img src="@Html.Raw(Model.RiskList[i].ImgDir)"; style='height: 20%; width: 20%; object-fit: contain' />

    }


</div>
